@media print {
    /* Hide everything except the content */
    .missions-page-print .navbar,
    .missions-page-print .missions-header button,
    .missions-page-print .edit-btn,
    .missions-page-print .delete-btn,
    .missions-page-print .page-header,
    .missions-page-print button {
        display: none !important;
    }

    .missions-page-print .mission-table thead tr:first-child th:last-child,
    .missions-page-print .mission-table tbody tr td:last-child {
        display: none;
    }

    /* Portrait orientation for list */
    @page {
        size: A4 landscape;
        margin: 30mm 0mm 20mm 0mm;
        padding: 0;
    }

    .missions-page-print body {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
        margin: 20mm 0mm 20mm 0mm;
        padding: 30mm 0mm 20mm 0mm;
    }
    
    .missions-page-print .header-right {
        position: absolute;
        top: 15px;
        right: 15px;
        text-align: right;
        line-height: 1.6;
        font-size: 11px;
        margin-right: 3.5rem;
    }
    
    .missions-page-print .mission-table {
        margin-bottom: 20mm;
    }
    
    .missions-page-print .mission-table thead {
        display: table-header-group;
    }
    
    .missions-page-print .mission-table tbody tr {
        page-break-inside: avoid;
    }
}