@media print {

    /* Hide everything except the content */
    .navbar,
    .missions-header button,
    .edit-btn,
    .delete-btn,
    .page-header,
    button {
        display: none !important;
    }

    table tr th:last-child,
    table tr td:last-child {
        display: none;
    }

    /* Portrait orientation for list */
    @page {
        size: A4 landscape;
    }

    body {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
.header-right {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: right;
  line-height: 1.6;
  font-size: 11px;
  margin-right: 3.5rem;
}
}